
#som_and_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  padding-top: 2%;
}

#panel_div {
  height: 100%;
  min-width: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 2%;
}

#som_svg {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  width: 900px;
  height: 600px;
}

h4 {
  margin-top: 0%;
}

@media screen and (min-width: 1000px) {
  #som_svg {
    width: 900px;
    height: 600px;
  }
}

