
h1 {
  margin-left: 2% !important;
  margin-bottom: 0% !important;
}

h3 {
  margin-top: 0%;
  margin-left: 5%;
  margin-bottom: 0%;
}

h4 {
  margin-top: 0%;
}

body {
  
}

.input_field {
  margin-bottom: 4%;
}

#som_and_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  padding-top: 2%;
}

#panel_div {
  position: relative;
  height: fill;
  min-width: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px; 
  padding: 2%;
}

#som_svg {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
}

#form {
  display: flex;
  flex-direction: column;
}

#submitbutton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5%;
  margin-right: 10%;
  margin-top: 5%;
}

#som_svg {
    width: 1100px;
    height: 650px;
  }

@media screen and (width <= 1200px) {
  #som_svg {
    width: 700px !important;
    height: 650px;
  }
}

@media screen and (width <= 1100px) {
  #som_svg {
    width: 1000px;
    height: 650px;
  }
}

@media screen and (width <= 1000px) {
  #som_svg {
    width: 900px;
    height: 650px;
  }
}



