.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#svg_and_panel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 100%;
  padding-top: 2%;
}

#panel {
  height: 100%;
  min-width: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 2%;
}

h4 {
  margin-top: 0%;
}

